[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false 

[[source]]
name = "pythonhosted"
url = "https://files.pythonhosted.org"
verify_ssl = false 

[dev-packages]
pytest = "*"
requests = "*"
pytest-mock = "*"
pytest-faker = "*"
pytest-cov = "*"

[packages]
gunicorn = "*"
pymongo = "*"
requests = "*"
maya = "*"
responder = "*"
markdown = "*"
marshmallow = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
